.ant-layout-header{
  height:280px !important;
  background:#FFF !important;
  padding:30px !important;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background:#FFF !important;
}
/* .ant-menu-item .ant-menu-item-only-child .ant-menu-item-selected{
  color:#F3712A !important;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-footer{
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #1890FF !important;
  height: 10% !important;
  padding: 16px !important;
  color: white !important;
}
.embed-responsive-item{
  margin-top: 20px;
  margin-left: 152px;
}